.Navbar{
    height: 2rem;
    background: #007AFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.ProjectName{
    font-family:sans-serif;
    color: white;
}
.Menu{
    font-family:sans-serif;
    color: white;
}